# Node
node_modules/
npm-debug.log*
package-lock.json

# Cypress output
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/

# Config editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

